<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_organizer.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @event_organizer.about %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event_organizer.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @event_organizer.website %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @event_organizer.contact %>
</p>

<p>
  <strong>Address:</strong>
  <%= @event_organizer.address %>
</p>

<%= link_to 'Edit', edit_event_organizer_path(@event_organizer) %> |
<%= link_to 'Back', event_organizers_path %>
